* { box-sizing: border-box;}
  
  body {
    height: 100%;
    width: 100%;
    background-color: beige;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slots {
    height: 100%;

    justify-content: center;
    align-items: center;
    grid-column-gap: 4px;
    padding: 4px;
    grid-template-columns: repeat(3, 10vmin);
    display: grid;
    background-color: aliceblue;
}

#slots > div {
    /* background-color: red; */

}

  #window1, #window2, #window3 {
    background-color: rgb(232, 224, 224);
    /* grid-column-gap: 4px; */
    padding: 4px;  
    height: 30vmin;
   

  }

  /* #boxes {
    background-color: white;
    height: 29vmin; 
    

  } */


  #button {
    width: 15vmin;
    margin: 2vmin;
    background-color:white;
    color: black;
    border: 1vmin solid black;
    border-radius: 40%;
    font-size: 3vmin;
    outline: none;
    align-items: center;
    
  }

  #play {
    background-color: darkred;
    color: white;

  }


  #message {
    color: red;
    text-align: center;
  }

  

  





 



